::selection {
  background: gold;
}
::-moz-selection {
  background: #f9ca24;
}

h1::selection, h2::selection, h3::selection, a::selection {
  background: red;
  color: white;
}

.page-edit{
  display: none;
}

.wrapper {
  max-width: var(--content-width, 640px);
  padding: 0 1.5rem 0;
  margin: 0 auto;
}

.bottom {
  margin: 0 auto;
  margin-bottom: 2rem;
}

img + em, .bigger-image + em {
  font-size: 14px;
  text-align: center;
  color: var(--text-muted, #999);
  font-weight: 600;
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .bigger-image {
    margin: 0 -100px 0;
  } 
}
